@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin-top: 1rem /* 16px */;
  margin-bottom: 1rem /* 16px */;
  height: 1rem /* 16px */;
  white-space: nowrap;
}
.divider:before,
.divider:after {
  height: 0.125rem /* 2px */;
  width: 100%;
  flex-grow: 1;
  --tw-content: '';
  content: var(--tw-content);
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
}
.divider:before,
.divider:after {
  height: 0.125rem /* 2px */;
  width: 100%;
  flex-grow: 1;
  --tw-content: '';
  content: var(--tw-content);
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
}
.divider:not(:empty) {
  gap: 1rem /* 16px */;
}

.table {
  display: table;
}
@media (hover: hover) {
  .table tr.hover:hover,
  .table tr.hover:nth-child(even):hover {
    --tw-bg-opacity: 1;
    .table :where(.table-pin-rows thead tr) {
      position: sticky;
      top: 0px;
      z-index: 1;
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-b1,
        oklch(var(--b1) / var(--tw-bg-opacity))
      );
    }
    .table :where(.table-pin-rows tfoot tr) {
      position: sticky;
      bottom: 0px;
      z-index: 1;
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-b1,
        oklch(var(--b1) / var(--tw-bg-opacity))
      );
    }
    .table :where(.table-pin-cols tr th) {
      position: sticky;
      left: 0px;
      right: 0px;
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-b1,
        oklch(var(--b1) / var(--tw-bg-opacity))
      );
    }
    .table:where([dir='rtl'], [dir='rtl'] *) {
      text-align: right;
    }
    .table :where(th, td) {
      padding-left: 1rem /* 16px */;
      padding-right: 1rem /* 16px */;
      padding-top: 0.75rem /* 12px */;
      padding-bottom: 0.75rem /* 12px */;
      vertical-align: middle;
    }
    .table tr.active,
    .table tr.active:nth-child(even),
    .table-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-b2,
        oklch(var(--b2) / var(--tw-bg-opacity))
      );
    }
    .table tr.active,
    .table tr.active:nth-child(even),
    .table-zebra tbody tr:nth-child(even) {
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-b2,
        oklch(var(--b2) / var(--tw-bg-opacity))
      );
    }
    .table
      :where(thead tr, tbody tr:not(:last-child), tbody
        tr:first-child:last-child) {
      border-bottom-width: 1px;
      --tw-border-opacity: 1;
      border-bottom-color: var(
        --fallback-b2,
        oklch(var(--b2) / var(--tw-border-opacity))
      );
    }
    .table :where(thead, tfoot) {
      white-space: nowrap;
      font-size: 0.75rem /* 12px */;
      line-height: 1rem /* 16px */;
      font-weight: 700;
      color: var(--fallback-bc, oklch(var(--bc) / 0.6));
    }
    .table :where(tfoot) {
      border-top-width: 1px;
      --tw-border-opacity: 1;
      border-top-color: var(
        --fallback-b2,
        oklch(var(--b2) / var(--tw-border-opacity))
      );
    }
    .checkbox {
      flex-shrink: 0;
      --chkbg: var(--fallback-bc, oklch(var(--bc) / 1));
      --chkfg: var(--fallback-b1, oklch(var(--b1) / 1));
      height: 1.5rem /* 24px */;
      width: 1.5rem /* 24px */;
      cursor: pointer;
      appearance: none;
      border-radius: var(--rounded-btn, 0.5rem /* 8px */);
      border-width: 1px;
      border-color: var(
        --fallback-bc,
        oklch(var(--bc) / var(--tw-border-opacity))
      );
      --tw-border-opacity: 0.2;
    }
    .checkbox:focus {
      box-shadow: none;
    }
    .checkbox:focus-visible {
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
      outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
    }
    .checkbox:disabled {
      border-width: 0px;
      cursor: not-allowed;
      border-color: transparent;
      --tw-bg-opacity: 1;
      background-color: var(
        --fallback-bc,
        oklch(var(--bc) / var(--tw-bg-opacity))
      );
      opacity: 0.2;
    }
    .checkbox:checked,
    .checkbox[aria-checked='true'] {
      background-repeat: no-repeat;
      animation: checkmark var(--animation-input, 0.2s) ease-out;
      background-color: var(--chkbg);
      background-image: linear-gradient(
          -45deg,
          transparent 65%,
          var(--chkbg) 65.99%
        ),
        linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%),
        linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%),
        linear-gradient(
          45deg,
          var(--chkbg) 30%,
          var(--chkfg) 30.99%,
          var(--chkfg) 40%,
          transparent 40.99%
        ),
        linear-gradient(-45deg, var(--chkfg) 50%, var(--chkbg) 50.99%);
    }
    .checkbox:checked,
    .checkbox[aria-checked='true'] {
      background-repeat: no-repeat;
      animation: checkmark var(--animation-input, 0.2s) ease-out;
      background-image: linear-gradient(
          90deg,
          transparent 80%,
          var(--chkbg) 80%
        ),
        linear-gradient(-90deg, transparent 80%, var(--chkbg) 80%),
        linear-gradient(
          0deg,
          var(--chkbg) 43%,
          var(--chkfg) 43%,
          var(--chkfg) 57%,
          var(--chkbg) 57%
        );
    }
    .line-through {
      text-decoration-line: line-through;
    }
    background-color: var(
      --fallback-b2,
      oklch(var(--b2) / var(--tw-bg-opacity))
    );
  }
}
@media (hover: hover) {
  .table tr.hover:hover,
  .table tr.hover:nth-child(even):hover {
    --tw-bg-opacity: 1;
    background-color: var(
      --fallback-b2,
      oklch(var(--b2) / var(--tw-bg-opacity))
    );
  }
}
.table {
  position: relative;
  width: 100%;
  border-radius: var(--rounded-box, 1rem /* 16px */);
  text-align: left;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
.table :where(.table-pin-rows thead tr) {
  position: sticky;
  top: 0px;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
}
.table :where(.table-pin-rows tfoot tr) {
  position: sticky;
  bottom: 0px;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
}
.table :where(.table-pin-cols tr th) {
  position: sticky;
  left: 0px;
  right: 0px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
}
.table:where([dir='rtl'], [dir='rtl'] *) {
  text-align: right;
}
.table :where(th, td) {
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  vertical-align: middle;
}
.table tr.active,
.table tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
}
.table tr.active,
.table tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
}
.table
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: var(
    --fallback-b2,
    oklch(var(--b2) / var(--tw-border-opacity))
  );
}
.table :where(thead, tfoot) {
  white-space: nowrap;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 700;
  color: var(--fallback-bc, oklch(var(--bc) / 0.6));
}
.table :where(tfoot) {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: var(
    --fallback-b2,
    oklch(var(--b2) / var(--tw-border-opacity))
  );
}
.checkbox {
  flex-shrink: 0;
  --chkbg: var(--fallback-bc, oklch(var(--bc) / 1));
  --chkfg: var(--fallback-b1, oklch(var(--b1) / 1));
  height: 1.5rem /* 24px */;
  width: 1.5rem /* 24px */;
  cursor: pointer;
  appearance: none;
  border-radius: var(--rounded-btn, 0.5rem /* 8px */);
  border-width: 1px;
  border-color: var(--fallback-bc, oklch(var(--bc) / var(--tw-border-opacity)));
  --tw-border-opacity: 0.2;
}
.checkbox:focus {
  box-shadow: none;
}
.checkbox:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.checkbox:disabled {
  border-width: 0px;
  cursor: not-allowed;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-bc, oklch(var(--bc) / var(--tw-bg-opacity)));
  opacity: 0.2;
}
.checkbox:checked,
.checkbox[aria-checked='true'] {
  background-repeat: no-repeat;
  animation: checkmark var(--animation-input, 0.2s) ease-out;
  background-color: var(--chkbg);
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      var(--chkbg) 65.99%
    ),
    linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%),
    linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      var(--chkbg) 30%,
      var(--chkfg) 30.99%,
      var(--chkfg) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, var(--chkfg) 50%, var(--chkbg) 50.99%);
}
.checkbox:checked,
.checkbox[aria-checked='true'] {
  background-repeat: no-repeat;
  animation: checkmark var(--animation-input, 0.2s) ease-out;
  background-image: linear-gradient(90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(-90deg, transparent 80%, var(--chkbg) 80%),
    linear-gradient(
      0deg,
      var(--chkbg) 43%,
      var(--chkfg) 43%,
      var(--chkfg) 57%,
      var(--chkbg) 57%
    );
}
.line-through {
  text-decoration-line: line-through;
}
